# Import software libraries

In [35]:
# Import required libraries.
import sys           # Read system parameters.
import pandas as pd  # Manipulate and analyze data.
import sqlite3       # Manage SQL databases.

# Summarize software libraries used.
print('Libraries used in this project:')
print('- Python {}'.format(sys.version))
print('- pandas {}'.format(pd.__version__))
print('- sqlite3 {}'.format(sqlite3.sqlite_version))

Libraries used in this project:
- Python 3.9.12 (main, Apr  4 2022, 05:22:27) [MSC v.1916 64 bit (AMD64)]
- pandas 1.4.2
- sqlite3 3.38.2

# Examine the database

In [36]:
# Connect to SQLite database.

conn = sqlite3.connect('data/prod_sample.db')

In [37]:
# List all the tables in the database.
query = """SELECT name FROM sqlite_master WHERE type='table';"""
pd.read_sql(query, conn)

                    name
0      stock_description
1  online_retail_history

# Read data from the `online_retail_history` table

In [33]:
# Write the query to be executed that selects everything from the online_retail_history table.

query = 'SELECT * FROM online_retail_history'


# Use the read_sql function in pandas to read a query into a DataFrame.

retail_history = pd.read_sql(query, conn)

# Preview the first five rows of the data.

retail_history.head(n = 5)

ProgrammingError: Cannot operate on a closed database.

In [8]:
# Get the shape of the data.

retail_history.shape

(15321, 8)

# Read data from the `stock_description` table

In [9]:
# Write the query to be executed that selects everything from the online_retail_history table.

query = 'SELECT * FROM stock_description'


# Use the read_sql function in pandas to read a query into a DataFrame.

stock_description = pd.read_sql(query, conn)

# Preview the first five rows of the data.

stock_description.head(n = 5)

  StockCode                  Description
0     10002  INFLATABLE POLITICAL GLOBE
1     10080     GROOVY CACTUS INFLATABLE
2     10120                 DOGGY RUBBER
3    10123C        HEARTS WRAPPING TAPE
4    10124A  SPOTS ON RED BOOKCOVER TAPE

In [10]:
# Get the shape of the data.

stock_description.shape

(3952, 2)

# Aggregate the `online_retail_history` and `stock_description` datasets

In [11]:
# Write a query to aggregate the two datasets so that you have the stock descriptions as well as the stock code.

query = '''SELECT left_table.*,
                right_table.Description
            FROM online_retail_history AS left_table LEFT JOIN stock_description AS right_table
            ON left_table.StockCode = right_table.StockCode'''

# Use the read_sql function in pandas to read a query into a DataFrame.

retail_history_w_description = pd.read_sql(query, conn)

# Preview the first five rows of the data.

retail_history_w_description.head(n = 5)

,Invoice,StockCode,Quantity,InvoiceDate,Price,CustomerID,Country,TotalAmount,Description
0,536365,85123A,6,2010-12-01 08:26:00,2.55,u1785,United Kingdom,15.30,CREAM HANGING HEART T-LIGHT HOLDER
1,536367,84879,32,2010-12-01 08:34:00,1.69,u13047,United Kingdom,54.08,ASSORTED COLOUR BIRD ORNAMENT
2,536373,85123A,6,2010-12-01 09:02:00,2.55,u1785,United Kingdom,15.30,CREAM HANGING HEART T-LIGHT HOLDER
3,536375,85123A,6,2010-12-01 09:32:00,2.55,u1785,United Kingdom,15.30,CREAM HANGING HEART T-LIGHT HOLDER
4,536378,20725,10,2010-12-01 09:37:00,1.65,u14688,United Kingdom,16.50,LUNCH BAG RED RETROSPOT

In [12]:
# Get the shape of the data.

retail_history_w_description.shape

(17032, 9)

# Identify and fix corrupt or unusable data

In [32]:
# Check the value counts of the "Description" field.

retail_history_w_description.Description.value_counts()

CREAM HANGING HEART T-LIGHT HOLDER    2174
JUMBO BAG RED RETROSPOT               1960
?                                     1711
REGENCY CAKESTAND 3 TIER              1711
PARTY BUNTING                         1615
LUNCH BAG RED RETROSPOT               1421
ASSORTED COLOUR BIRD ORNAMENT         1405
POPCORN HOLDER                        1329
LUNCH BAG  BLACK SKULL.               1271
SET OF 3 CAKE TINS PANTRY DESIGN      1257
PACK OF 72 RETROSPOT CAKE CASES       1178
Name: Description, dtype: int64

In [14]:
# Remove rows where "Description" is just a question mark (?).

data_cleaned = \
retail_history_w_description[~ (retail_history_w_description.Description == '?')]

# Preview the first five rows of the data.

data_cleaned.head(n = 5)

,Invoice,StockCode,Quantity,InvoiceDate,Price,CustomerID,Country,TotalAmount,Description
0,536365,85123A,6,2010-12-01 08:26:00,2.55,u1785,United Kingdom,15.30,CREAM HANGING HEART T-LIGHT HOLDER
1,536367,84879,32,2010-12-01 08:34:00,1.69,u13047,United Kingdom,54.08,ASSORTED COLOUR BIRD ORNAMENT
2,536373,85123A,6,2010-12-01 09:02:00,2.55,u1785,United Kingdom,15.30,CREAM HANGING HEART T-LIGHT HOLDER
3,536375,85123A,6,2010-12-01 09:32:00,2.55,u1785,United Kingdom,15.30,CREAM HANGING HEART T-LIGHT HOLDER
4,536378,20725,10,2010-12-01 09:37:00,1.65,u14688,United Kingdom,16.50,LUNCH BAG RED RETROSPOT

# Identify and remove duplicates

In [15]:
# Identify all duplicated data.

duplicated_data = \
data_cleaned \
[data_cleaned.duplicated(keep = False)]

duplicated_data.shape[0]

223

In [16]:
# Print the duplicated data.

duplicated_data.head(n = 5)

,Invoice,StockCode,Quantity,InvoiceDate,Price,CustomerID,Country,TotalAmount,Description
176,536863,20727,1,2010-12-03 11:19:00,1.65,u17967,United Kingdom,1.65,LUNCH BAG BLACK SKULL.
178,536863,20727,1,2010-12-03 11:19:00,1.65,u17967,United Kingdom,1.65,LUNCH BAG BLACK SKULL.
496,537781,84879,8,2010-12-08 12:46:00,1.69,u17341,United Kingdom,13.52,ASSORTED COLOUR BIRD ORNAMENT
497,537781,84879,8,2010-12-08 12:46:00,1.69,u17341,United Kingdom,13.52,ASSORTED COLOUR BIRD ORNAMENT
569,537955,20725,1,2010-12-09 11:28:00,1.65,u16782,United Kingdom,1.65,LUNCH BAG RED RETROSPOT

In [17]:
# Remove the duplicated data.
data_cleaned_unduplicated = \
data_cleaned[~data_cleaned.duplicated()]

# Preview the first five rows of the data.

data_cleaned_unduplicated.head(n = 5)

,Invoice,StockCode,Quantity,InvoiceDate,Price,CustomerID,Country,TotalAmount,Description
0,536365,85123A,6,2010-12-01 08:26:00,2.55,u1785,United Kingdom,15.30,CREAM HANGING HEART T-LIGHT HOLDER
1,536367,84879,32,2010-12-01 08:34:00,1.69,u13047,United Kingdom,54.08,ASSORTED COLOUR BIRD ORNAMENT
2,536373,85123A,6,2010-12-01 09:02:00,2.55,u1785,United Kingdom,15.30,CREAM HANGING HEART T-LIGHT HOLDER
3,536375,85123A,6,2010-12-01 09:32:00,2.55,u1785,United Kingdom,15.30,CREAM HANGING HEART T-LIGHT HOLDER
4,536378,20725,10,2010-12-01 09:37:00,1.65,u14688,United Kingdom,16.50,LUNCH BAG RED RETROSPOT

# Correct date formats

In [18]:
# Get the data types for every column in the DataFrame.

data_cleaned_unduplicated.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15206 entries, 0 to 17031
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Invoice      15206 non-null  object
 1   StockCode    15206 non-null  object
 2   Quantity     15206 non-null  int64
 3   InvoiceDate  15206 non-null  object
 4   Price        15194 non-null  float64
 5   CustomerID   12435 non-null  object
 6   Country      15206 non-null  object
 7   TotalAmount  15194 non-null  float64
 8   Description  15206 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 1.2+ MB

In [19]:
# Convert "InvoiceDate" to a "%Y-%m-%d" datetime format.

data_final = data_cleaned_unduplicated.copy()

data_final['InvoiceDate'] = \
pd.to_datetime(data_final['InvoiceDate'],
              format = '%Y-%m-%d')

In [20]:
# Get the data types for every column in the converted DataFrame.

data_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15206 entries, 0 to 17031
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Invoice      15206 non-null  object
 1   StockCode    15206 non-null  object
 2   Quantity     15206 non-null  int64
 3   InvoiceDate  15206 non-null  datetime64[ns]
 4   Price        15194 non-null  float64
 5   CustomerID   12435 non-null  object
 6   Country      15206 non-null  object
 7   TotalAmount  15194 non-null  float64
 8   Description  15206 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(5)
memory usage: 1.2+ MB

# Examine the table before finishing

In [21]:
# Preview the first five rows of the data.

data_final.head(n = 5)

,Invoice,StockCode,Quantity,InvoiceDate,Price,CustomerID,Country,TotalAmount,Description
0,536365,85123A,6,2010-12-01 08:26:00,2.55,u1785,United Kingdom,15.30,CREAM HANGING HEART T-LIGHT HOLDER
1,536367,84879,32,2010-12-01 08:34:00,1.69,u13047,United Kingdom,54.08,ASSORTED COLOUR BIRD ORNAMENT
2,536373,85123A,6,2010-12-01 09:02:00,2.55,u1785,United Kingdom,15.30,CREAM HANGING HEART T-LIGHT HOLDER
3,536375,85123A,6,2010-12-01 09:32:00,2.55,u1785,United Kingdom,15.30,CREAM HANGING HEART T-LIGHT HOLDER
4,536378,20725,10,2010-12-01 09:37:00,1.65,u14688,United Kingdom,16.50,LUNCH BAG RED RETROSPOT

# Load the dataset into a pickle file

In [22]:
# Save the dataset as a pickle file named online_history_cleaned.pickle.

data_final.to_pickle('data/users_data_cleaned.pickle')

In [23]:
# Close any connections to the database.

conn.close()